.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  column-gap: 20px;
  padding: 20px;

  &__pagination {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d0d0;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #535bf2;
    color: white;
  }
}

.pickedPage {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #646cff;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}